/* Estilos generales */
.container {
  margin-top: 20px;
}

.content {
  padding: 20px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    margin-top: 0;
  }

  .col-md-3 {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-md-9 {
    width: 100%;
  }
}
